* {
  margin: 0;
  padding: 0;
  gap: 0;
}

.grid {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
}

div {
  justify-content: center;
  align-items: center;
  text-align: center;
}
