* {
  margin: 0;
  padding: 0;
  gap: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 200px;
}

div {
  justify-content: center;
  align-items: center;
  text-align: center;
}